.nav {
    grid-area: n;
    background-color: rgb(209, 238, 215);
    padding: 20px;
  }

.item a {
  color: rgb(28, 14, 41);
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(161, 11, 18);
}

.item {
  margin-bottom: 10px;
}