.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: auto;
  max-width: 1366px;
  min-height: 100vh;
  grid-template-areas:
    'h h h'
    'n b s'
    'f f f';
  grid-template-rows: 62px 3fr;
  grid-template-columns: 140px 1fr 140px;
  grid-gap: 2px;
}


.app-wrapper-content {
  grid-area: b;
  background-color: linen;
}